.registered
.DS_Store
*.swp
.catkin_tools
.vscode
build/
install/
log/
bin/
lib/
*.pcd
*.pyc
*.so
*.dylib
py-bindings/ompl/app/
py-bindings/ompl/bindings_generator.py
!py-bindings/ompl/bindings_generator.py.in